    template
    Please use this template when summarizing your findings from different ML models.

    Of course you can alter and add new subsections as needed.

    Note on file name: Files should be named 1.0-Model-name.ipynb

# "Model Name"

_short description of the model used. [References](https://sv.wikipedia.org/wiki/Referens) can be used_

## Outline
1. Preprocessing
2. Model exploration
    * _first we..._
    * _then we..._
3. Summary of Results

# Preprocessing

## import external packages

In [1]:
import matplotlib.pyplot as plt

## import internal utils

In [2]:
from utils.import_data import importData
from utils.import_data import preprocessData
from utils.import_data import underSampleNumpyArray, overSampleNumpyArray
from utils.import_data import selectIterations

## data

In [3]:
file_data = "data2.csv"
file_labels = "labels2.csv"
n_features = -1
directory = "\data\\"

data, labels = importData(file_data, file_labels, directory, n_features)

Number of samples:    102400
Number of features:   3851

In [5]:
data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,3841,3842,3843,3844,3845,3846,3847,3848,3849,3850
0,-0.044802,2.487497,-0.525579,-0.429161,-0.114088,0.383844,0.501104,1.236488,-1.150935,-0.991978,...,-2.811259,2.033049,1.217821,-1.078442,2.040776,-1.411063,2.693125,1.433417,0.80536,-1.174291

In [6]:
labels.head(4)

       label  binary-label  iteration
0        0.0             0          0
1   372930.0             1          0
2   135370.0             1          0
3  1060864.0             1          0

# Model exploration

In [7]:
# code to setup model environment

## initial test

In [ ]:
# code

## Hyperparameter tuning

In [ ]:
# code

# Results

In [ ]:
# results!